.buttonBig,
.button {
	background: linear-gradient(#ff6cee, #777eff);
	width: 140px;
	height: 140px;
	aspect-ratio: 1;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: scale 0.2s, box-shadow 0.2s;
}

.button {
	aspect-ratio: 0;
	border-radius: 10px;
	justify-content: center;
	width: 200px;
	height: fit-content;
	padding: 0.6rem 0;
}

.buttonBig:hover,
.button:hover {
	scale: 1.02;
	box-shadow: 0 0 10px rgba(217, 0, 255, 0.5);
}

.buttonImage {
	height: 50%;
	display: block;
	margin: auto 0;
}

.buttonText {
	font-weight: 800;
	color: white;
	text-align: center;
	font-size: 1.1rem;
	margin: 0;
	margin-bottom: 0.7rem;
	user-select: none;
}

.button .buttonText {
	margin: 0;
	font-size: 1.2rem;
	user-select: none;
}

.buttonFixed {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.buttonDisabled {
	pointer-events: none;
	user-select: none;
	overflow: hidden;
	position: relative;
}
.buttonDisabled::after {
	content: "";
	background-color: rgb(197, 197, 197);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
}

.centerAbsolute {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	isolation: isolate;
	z-index: 2;
}

.fitWidth {
	width: fit-content !important;
	padding: 0.5rem 1rem;
}
