/* Opsætning af hvert spil container */
.game__container {
	display: block;
	max-width: 55vh;
	padding: var(--margin);
	padding-top: 0;
	margin-left: auto;
	margin-right: auto;
}

.gameContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100vh - 100px);
	position: relative;
}

.gameTitle {
	margin-top: 0;
}

/* container til over/under spil */
.overunderButtons {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
