:root {
	--margin: 20px;
	font-family: articulat-cf, sans-serif;
}

* {
	font-family: articulat-cf, sans-serif;
	text-size-adjust: none;
	color: white;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(#7685ff, #acdfff);
	height: fit-content;
	overflow-x: hidden;
}

#root {
	min-height: 100vh;
	position: relative;
}

h1 {
	font-size: 30px;
	text-align: center;
	padding: 5px;
}

p {
	font-size: 20px;
	text-align: center;
	padding: 5px;
}

.bodyText {
	font-size: 1.3rem;
	text-align: center;
	margin: 0 0 20px 0;
	color: white;
	font-weight: 200;
}
.buttonLink {
	text-decoration: none;
}

small {
	color: rgba(255, 255, 255, 0.651);
	margin: 0;
	margin-top: 5px;
}

label {
	color: white;
	font-size: 1.1rem;
	margin: 30px 0 10px 0;
}

dialog {
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	background: linear-gradient(#65b7fd, #3cacfd);
	width: 100%;
	padding: var(--margin);
	box-sizing: border-box;
}

#settingsDialog {
	background: linear-gradient(#8748ff, #9a10ff) !important;
}
#statisticsDialog {
	background: linear-gradient(#ff48a4, #ff107e) !important;
}

dialog::backdrop {
	/* cursor: pointer; */
	background-color: #00000031;
	backdrop-filter: blur(2px);
}

dialog h2 {
	color: white;
	text-align: center;
	margin: 0;
}

.dialogContainer,
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dialogClose {
	width: 1.1rem;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 20px;
	cursor: pointer;
}

.uploadPhotoContainer {
	height: 100px;
	width: 100px;
	position: relative;
	outline: 2px solid white;
	border-radius: 1rem;
	cursor: pointer;
	overflow: hidden;
}

#uploadPhoto {
	font-size: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	isolation: isolate;
	z-index: 2;
	cursor: pointer;
}

.uploadCamera {
	position: absolute;
	top: 55%;
	left: 50%;
	width: 80px;
	transform: translate(-50%, -50%);
	isolation: isolate;
	z-index: -1;
}

.camPlus {
	position: absolute;
	right: 8px;
	top: 8px;
	width: 20px;
	isolation: isolate;
	z-index: -1;
}

input[type="text"] {
	font-size: 1.1rem;
	border: none;
	border-radius: 8px;
	padding: 5px 10px;
	background-color: transparent;
	border: 2px solid white;
	caret-color: white;
	color: white;
}
input[type="text"]::placeholder {
	color: rgba(255, 255, 255, 0.493);
}

input[type="text"]:focus {
	outline: none;
}

#playerName {
	display: block;
	width: 80%;
	max-width: 200px;
}

.dialogBtn {
	border: none;
	background-color: transparent;
	margin-top: 30px;
	color: white;
	cursor: pointer;
}

#imagePreview {
	width: 100%;
	height: 100%;
	margin: auto;
	object-fit: cover;
}

.centerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--margin);
}
