.dice {
	width: 100px;
	background: linear-gradient(white, 80%, rgb(235, 235, 235));
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
}

.diceCont {
	position: relative;
}

.hiddenDice {
	position: absolute;
	top: 0;
	left: 0;
}

.terninger {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.buttons {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
