.playerCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 120px;
	position: relative;
}

.playerImageContainer {
	position: relative;
	width: 80px;
	height: 80px;
}

.playerImageBackground {
	background: linear-gradient(#6cc6ff, #777eff);
	width: 100%;
	height: 100%;
	position: absolute;
	isolation: isolate;
	z-index: -1;
	border-radius: 50%;
}

.playerImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	padding: 5px;
	box-sizing: border-box;
}

.playerName {
	font-size: 1.2rem;
	color: white;
	font-weight: 600;
	margin-top: 8px;
	text-align: center;
}

.deletePlayer {
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px;
	width: 20px;
	filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.156));
	cursor: pointer;
	isolation: isolate;
	z-index: 3;
}
